
.main_div{
  border: 1px solid black;
  margin: auto;
  width: 90%;
  display: flex;
  margin-top: 10px;



  .image_div{
    border: 1px solid black;
    margin: 10px;
    width: 50%;
  }
  .login_div{
    border: 1px solid black;
    margin: 10px;
    width: 50%;
  }
}

