/* Navbar.scss */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .icons {
    display: none; /* Initially hide hamburger icon */
    cursor: pointer;
  }
  
  .menu_icon {
    font-size: 24px;
  }
  
  /* Show menu items on desktop */
  .menu_items.desktop {
    display: flex;
  }
  
  .menu_item {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  
  /* Hamburger menu styles */
  .icons.open .menu_items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust position relative to navbar height */
    right: 0;
    background-color: black;
    padding: 10px;
  }
  
  /* Media query for mobile devices */
  @media screen and (max-width: 768px) {
    .menu_items.desktop {
      display: none; /* Hide menu items on mobile */
    }
  
    .icons {
      display: flex; /* Show hamburger icon on mobile */
    }
  }
  